---
layout: default
---

<div class="home">
    <div class="featured-posts">
        <ul class="ui-list">
            {% for post in site.posts limit:3 %}
                <li class="featured-post box-hover-shadow inline pad-10 left">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <span class="featured-image background-cover inline" style="background-image: url('{{ post.featured-image }}')"><span class="overlay"></span></span>
                        <div class="post-info">
                            <h2 class="white post-title no-margin">{{ post.title | truncatewords: 8 }}</h2>
                            <p class="white no-margin">{{ post.date | date: "%b %-d, %Y" }}</p>
                            <p class="reading-time white no-margin" title="Estimated read time">
                                {% assign words = post.content | number_of_words %}
                                {% if words < 360 %}
                                    1 min
                                {% else %}
                                    {{ words | divided_by:180 }} mins
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="most-recent">
        <div class="container align-center">
            {% for post in site.posts limit:1 %}
                <article>
                    <header class="pad-50">
                        <a href="{{ post.url | prepend: site.baseurl }}"><h2 class="h1 post-title no-margin green-hover inline">{{ post.title }}</h2></a>
                        <p class="no-margin">{{ post.date | date: "%b %-d, %Y" }}</p>
                    </header>
                    <div class="container-constrained align-left">
                        {{ post.excerpt }}
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</div>
