.ui-inline-list {
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    li {
        list-style: none;
        display: inline-block;
    }
}

.ui-list {
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    li {
        display: block;
        list-style: none;
    }
}
