.image-pod {
	height: auto;
	overflow: auto;
	clear: both;
	margin-bottom: 0px;
}

@media screen and (min-width: 960px) {
	.image-pod {
		margin-bottom: 20px;
	}

	.image-caption {
		&.left {
			margin-left: 20px;
			padding-right: 20px;
		}
		&.right {
			margin-right: 20px;
			padding-left: 20px;
		}
	}

	.box-hover-shadow {
		transition: all 80ms linear;
		cursor: pointer;

		&.left {
			margin-left: 20px;
		}

		&.right {
			margin-right: 20px;
		}

		&:hover {
			transform: translate(3px, -3px);
			box-shadow: -10px 10px 15px 0px rgba(0,0,0,0.5);
		}
	}

	.box-hover-shadow,
	.image-caption {
		width: calc(50% - 20px);
	}
}

@media screen and (max-width: 768px) {
	.image-pod {
		padding: 0 0 20px 0;

		.image-caption {
			padding: 20px 0 0 0;

			p {
				margin: 0;
			}
		}
	}
}
