<div class="image-pod pad-20">
	<div class="left box-hover-shadow">
		<amp-img
			src="{{ include.src }}"
			width="720"
			height="405"
			layout="responsive"
			alt="{{ page.title }}">
		</amp-img>
	</div>
	<div class="image-caption left">
		<p class="light">{{ include.caption }}</p>
	</div>
</div>
<div class="lightbox">
    <div class="lightbox-wrapper">
		<div class="lightbox-image">
			<amp-img
				src="{{ include.src }}"
				width="1080"
				height="607.5"
				layout="responsive"
				alt="{{ page.title }}">
			</amp-img>
		</div>
        <p class="caption light">{{ include.caption }}</p>
    </div>
	<div class="close"></div>
</div>
