h1,h2,h3,h4,p,a,li,blockquote,form,span {
    -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4 {
	font-family: $header-font-family;
  color: $black;
}

h1, .h1 {
    @include font-size(40px);
    font-weight: 400;
    margin-bottom: 2.5rem;
}

h2, .h2 {
    @include font-size(30px);
    font-weight: 400;
    margin-bottom: 2rem;
}

h3, .h3 {
    @include font-size(22px);
    font-weight: 400;
    margin-bottom: 1.375rem;
}

h4, .h4 {
    @include font-size(18px);
    font-weight: 400;
    margin-bottom: 1.125rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  padding-bottom: 2px;
  border-bottom: 1px solid inherit;
}

p {
    margin-bottom: 1.5rem;
}

div,
p,
li {
    @include font-size($base-font-size);
    font-weight: 300;
}

.no-underline{
  text-decoration: none;
}
